/* Fonts */
@import "../assets/fonts/gilroy/style.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --white: #f6f6fb;
  --black: #242424;

  --primary-color: #202361;
  --primary-color-2: #a8e061;
  --secondary-color: #e5e5f8;
  --error-color: #ba0000;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-base: 16px;
  --text-lg: 18px;
  --text-xl: 20px;
  --text-2xl: 24px;
  --text-3xl: 32px;
  --text-4xl: 40px;

  --font-normal: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --box-shadow: 0px 21px 36px rgb(0 0 0 / 5%);
}

* {
  box-sizing: border-box;
  font-family: "Gilroy", "Montserrat", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  line-height: normal;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: var(--text-base);
  background-color: var(--white);
  color: var(--black);
}

button,
input,
p,
button,
input,
form,
textarea,
label {
  line-height: 1.25em;
  letter-spacing: 0.3px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.25em;
  color: var(--primary-color);
  letter-spacing: -1px;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1440px;
  width: 94%;
}

/** Pre ready classes */

.bg-primary-color {
  background-color: var(--primary-color);
}

.bg-secondary-color {
  background-color: var(--primary-color-2);
}

.bg-secondary-color-2 {
  background-color: var(--secondary-color);
}

.bg-error-color {
  background-color: var(--error-color);
}

.bg-black-color {
  background-color: black;
}

.bg-white-color {
  background-color: var(--white);
}

.text-primary-color {
  color: var(--primary-color);
}

.text-error-color {
  color: var(--error-color);
}

.text-white {
  color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-xs {
  font-size: var(--text-xs);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-base {
  font-size: var(--text-base);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-2xl {
  font-size: var(--text-2xl);
}

.text-3xl {
  font-size: var(--text-3xl);
}

.text-4xl {
  font-size: var(--text-4xl);
}

.font-bold {
  font-weight: var(--font-bold);
}

.font-normal {
  font-weight: var(--font-normal);
}

.font-medium {
  font-weight: var(--font-medium);
}

.font-semibold {
  font-weight: var(--font-semibold);
}

.font-italic {
  font-style: italic;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.block {
  display: block;
}

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.gap-1 {
  gap: 4px;
}

.gap-2 {
  gap: 8px;
}

.gap-3 {
  gap: 12px;
}

.gap-4 {
  gap: 16px;
}

.gap-5 {
  gap: 20px;
}

.gap-6 {
  gap: 24px;
}

.gap-7 {
  gap: 28px;
}

.gap-8 {
  gap: 32px;
}

.gap-9 {
  gap: 36px;
}

.gap-10 {
  gap: 40px;
}

.gap-12 {
  gap: 48px;
}

.gap-15 {
  gap: 60px;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.items-center {
  align-items: center;
}

.items-between {
  align-items: space-between;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.flex-4 {
  flex: 4;
}

.flex-5 {
  flex: 6;
}

.flex-6 {
  flex: 6;
}

.m-3 {
  margin: 12px;
}

.mr-1 {
  margin-right: 4px;
}

.mr-2 {
  margin-right: 6px;
}

.mr-3 {
  margin-right: 8px;
}

.ml-1 {
  margin-left: 4px;
}

.mt-1 {
  margin-top: 4px;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 8px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-5 {
  margin-top: 20px;
}

.mt-6 {
  margin-top: 24px;
}

.mt-7 {
  margin-top: 28px;
}

.mt-8 {
  margin-top: 32px;
}

.mt-9 {
  margin-top: 36px;
}

.mt-10 {
  margin-top: 40px;
}

.mt-12 {
  margin-top: 48px;
}

.mt-13 {
  margin-top: 52px;
}

.mt-15 {
  margin-top: 60px;
}

.mb-1 {
  margin-bottom: 4px;
}

.mb-2 {
  margin-bottom: 6px;
}

.mb-3 {
  margin-bottom: 8px;
}

.mb-4 {
  margin-bottom: 16px;
}

.mb-5 {
  margin-bottom: 20px;
}

.mb-6 {
  margin-bottom: 24px;
}

.mb-8 {
  margin-bottom: 32px;
}

.mb-9 {
  margin-bottom: 36px;
}

.mb-15 {
  margin-bottom: 60px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-1 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-2 {
  margin-left: 8px;
  margin-right: 8px;
}

.mx-6 {
  margin-left: 24px;
  margin-right: 24px;
}

.mx-7 {
  margin-left: 28px;
  margin-right: 28px;
}

.mx-10 {
  margin-left: 40px;
  margin-right: 40px;
}

.my-1 {
  margin-top: 4px;
  margin-bottom: 4px;
}

.my-2 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.my-5 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.my-6 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.my-7 {
  margin-top: 28px;
  margin-bottom: 28px;
}

.my-8 {
  margin-top: 32px;
  margin-bottom: 32px;
}

.p-3 {
  padding: 12px;
}

.p-4 {
  padding: 16px;
}

.p-5 {
  padding: 20px;
}

.p-6 {
  padding: 24px;
}

.p-8 {
  padding: 32px;
}

.p-10 {
  padding: 40px;
}

.p-12 {
  padding: 48px;
}

.px-1 {
  padding-left: 4px;
  padding-right: 4px;
}

.px-2 {
  padding-left: 8px;
  padding-right: 8px;
}

.px-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.px-6 {
  padding-left: 24px;
  padding-right: 24px;
}

.px-7 {
  padding-left: 28px;
  padding-right: 28px;
}

.px-5 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-8 {
  padding-left: 32px;
  padding-right: 32px;
}

.px-10 {
  padding-left: 40px;
  padding-right: 40px;
}

.px-12 {
  padding-left: 48px;
  padding-right: 48px;
}

.py-1 {
  margin-left: 4px;
  margin-right: 4px;
}

.py-2 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.py-3 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.py-4 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.py-5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-6 {
  padding-top: 24px;
  padding-bottom: 24px;
}

.py-7 {
  padding-top: 28px;
  padding-bottom: 28px;
}

.py-8 {
  padding-top: 32px;
  padding-bottom: 32px;
}

.py-9 {
  padding-top: 36px;
  padding-bottom: 36px;
}

.py-12 {
  padding-top: 48px;
  padding-bottom: 48px;
}

.opacity-8 {
  opacity: 0.8;
}

h1 {
  font-size: 48px;
  font-weight: var(--font-weight-bold);
}

h2 {
  font-size: 40px;
  font-weight: var(--font-bold);
}

h3 {
  font-size: 24px;
  font-weight: var(--font-semibold);
}

h4 {
  font-size: 20px;
  font-weight: var(--font-semibold);
}

h5 {
  font-size: 18px;
}

.input,
.textarea {
  resize: none;
  width: 100%;
  font-size: 1rem;
  border: 0;
  outline: none;
  color: var(--color-black);
  background: transparent;
}

.input::placeholder {
  color: var(--color-gray);
  opacity: 0.8;
}

.line {
  background: rgba(0, 0, 0, 0.7);
  display: block;
  height: 1px;
}

.icons-bg {
  width: 40px;
  height: 40px;
}

.dashed-button {
  padding: 12px 28px;
  border-radius: 48px;
  font-weight: 700;
  border: 1px dashed;
  font-size: 16px;
}

.dashed-button-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.dashed-button-secondary {
  color: var(--primary-color-2);
  border-color: var(--primary-color-2);
}

.btn-continue-with-google {
  background: var(--white);
  border-radius: 10px;
  width: 100%;
  height: 49px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 12.5px 0;
}

.breadcrumb {
  font-size: 14px;
  color: var(--primary-color);
  border-top: 1px solid var(--primary-color);
  padding-top: 12px;
  margin-top: 26px;
  font-weight: 600;
}

.breadcrumb .active {
  color: var(--black);
  font-weight: 500;
}

.bookmark {
  width: 40px;
  height: 40px;
  border-radius: 999px;
}

.bookmark.bookmark-icon-fill {
  background-color: var(--primary-color-2);
  width: 40px;
  height: 40px;
  border-radius: 999px;
}

.bookmark .crown-icon {
  display: none;
}

.bookmark-icon-fill .crown-icon {
  display: block;
}

.bookmark.bookmark-icon-fill .bookmark-icon {
  display: none;
}

.secondary-button {
  padding: 12px 20px;
  font-size: 12px;
  border-radius: 32px;
  background-color: var(--primary-color-2);
}

.profile-sm {
  width: 36px;
  height: 36px;
  padding: 9px;
  border-radius: 9999px;
}

.send-button {
  width: 32px;
  height: 32px;
  border-radius: 9999px;
  padding: 7px;
  background-color: var(--primary-color);
}

/* .message-bubble {

} */
